html {
    body {
        div {
            display: flex;
            justify-content: center;
            a{
                list-style-type: none;
                color: inherit;
            }
        }
    }
}