@import 'mixins';

html {
    body {
        div {
            display: flex;
            justify-content: center;
            a{
                list-style-type: none;
                color: inherit;
                @include phone {
                    font-size: 90%;
                }
            }
        }
    }
}