@import 'mixins';
.ui-widget-header {
    background-color: transparent;
    border: none;
}
.ui-dialog-buttonpane {
    border: white;
    background-color: white;
}
.ui-widget-content {
    background-color: white;
}
html {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        #dialog {
            background-color: white;
            border: white;
            display: flex;
            justify-content: center;
            align-items: center;

        }
        #buyText {
            width: 35%;
            @include phone {
                width: 80%;
            }

            p {
                font-size: 120%;
                text-align: justify;
                @include phone {
                    font-size: 100%;
                }
                #opener {
                    color: inherit;
                }
            }
            #price {
                text-align: center;
            }
        }
        #magazineContainer {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-wrap: wrap;
            padding: 0px 200px;
            @include phone {
                padding: 20px 0px;
            }
            
            div {
                position: relative;
                padding: 30px 50px;
                @include phone {
                    padding: 30px 0px;
                }

                img {
                    height: 400px;
                    @include phone {
                        height: 300px;
                    }
                }
                .overlay {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    height: 100%;
                    width: 100%;
                    opacity: 0;
                    transition: .5s ease;
                    background-color: #000000;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 5px;
                }
                
                .magInfo {
                    font-size: 120%;
                    @include textPink;
                }
                
            }
            div:hover {
                .overlay {
                    opacity: .85;
                }
            }
        }
    }
}
 