@import 'mixins';
html {
    body {
        background-color: black;
        color: #fdfcf4;
        font-family: 'JetBrains Mono', monospace;
        #bigLogo {
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                height: 250px;
            }
        }
        #smallLogo {
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                height: 150px;
            }
        }
        #navButton {
            position: fixed;
            top: 25px;
            right: 25px;
            font-size: 30px;
            margin-left: 50px;
            border: none;
            background-color: transparent;
            color:inherit;
        }
        #sideNav {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.85);
            overflow-x: hidden;
            transition: 0.5s;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            div {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                img {
                    width: 200px
                }
                a {
                    @include textPink;
                    display: block;
                    transition: 0.3s;
                }
                a:hover {
                    text-shadow: 5px 5px 0px rgb(161, 9, 35);
                }
            }

           
            #closeNavButton {
                position: absolute;
                top: 25px;
                right: 25px;
                font-size: 50px;
                margin-left: 50px;
                border: none;
                background-color: transparent;
                color:inherit;
            }

        }
        
        #pictureWrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            img {
                height: 500px;
                width: 500px;
            }
        }
        footer {
            display: flex;
            align-items: center;
            justify-content: center;
            color: pink;
            padding: 20px 0;
            a {
                height: 30px;
                text-decoration: none;
                color: inherit;
                margin: 10px;
                i {
                    font-size: 30px;
                }
                img {
                    width: 30px;
                }
            }
        }
    }
}