@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,500;1,400&display=swap');
@import 'mixins';

html {
    body {
        background-color: rgb(0, 0, 0);
        color: #ffffff;
        font-family: 'Roboto Mono', monospace;
        width: 100%;
        margin: 0px;
        #bigLogo {
            display: flex;
            justify-content: center;
            align-items: center;
            div {
                background-image: url('../assets/whiteLogo.svg');
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                    height: 250px;
                    width: 700px;
                    @include phone {
                        height: 120px;
                        width: 120px;
                        margin: 10px 0px;
                        background-image: url('../assets/rundloggavit.svg');
                    }
            }
        }
        #smallLogo {
            display: flex;
            justify-content: center;
            align-items: center;
            @include phone {
                width: 100%;
            }
            a {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                #logo {
                    background-image: url('../assets/whiteLogo.svg');
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                    height: 150px;
                    width: 500px;
                    @include phone {
                        height: 100px;
                        width: 100px;
                        margin: 10px 0px;
                        background-image: url('../assets/rundloggavit.svg');
                    }
                }
            }
            
        }
        #navButton {
            position: fixed;
            top: 25px;
            right: 25px;
            font-size: 200%;
            margin-left: 50px;
            border: none;
            background-color: transparent;
            color:inherit;
            @include phone {
                font-size: 250%;
                top: 15px;
                right: 15px;
                margin: 0px;
            }
        }
        #sideNav {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.85);
            overflow-x: hidden;
            transition: 0.5s;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            @include phone {
                flex-direction: column;
                justify-content: center;
            }
            div {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                img {
                    width: 200px;
                    @include phone {
                        width: 75px;
                    }
                }
                a {
                    @include textPink;
                    font-size: 30px;
                    display: block;
                    transition: 0.3s;
                    @include phone {
                        font-size: 20px;
                    }
                }
                a:hover {
                    text-shadow: 5px 5px 0px rgb(161, 9, 35);
                }
            }

           
            #closeNavButton {
                position: absolute;
                top: 25px;
                right: 25px;
                font-size: 50px;
                margin-left: 50px;
                border: none;
                background-color: transparent;
                color:inherit;
                @include phone {
                    margin: 0px;
                    font-size: 35px;
                    top: 30px;
                    right: 30px;

                }
            }

        }
        #announcement{
            display: flex;
            align-items: center;
            justify-content: center;
            text-transform: uppercase;
        }
        #pictureWrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            img {
                height: 500px;
                width: 500px;
                @include phone {
                    flex-direction: column;
                    width: 70%;
                    height: auto;
                }
            }
        }
        footer {
            display: flex;
            align-items: center;
            justify-content: center;
            color: palevioletred;
            padding: 20px 0;
            @include phone {
                width: 100%;
            }
            a {
                height: 30px;
                text-decoration: none;
                color: inherit;
                margin: 10px;
                i {
                    font-size: 30px;
                }
                img {
                    width: 30px;
                }
            }
        }
    }
}