@import 'mixins';
html {
    body {
        form {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            div {
                width: 50%;
                display: flex;
                justify-content: space-between;
                margin: 10px 0px;
                label {
                    @include textPink;
                    font-size: 100%;
                }
                input {
                    padding: 15px;
                    width: 70%;
                }
                input:focus {
                    background-color: pink;
                    outline: none;
                }
            }
            button {
                padding:  10px 50px;
                background-color: rgb(0, 0, 0);
                border: none;
                @include textPink;
                font-size: 150%;
                font-family: inherit;
            }
            button:focus {
                background-color: pink;
                outline: none;
            }
            
        }
    }
}